.navigation {
  background-color: #eee;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation ul {
  background-color: #eee;
  border: 1px solid #005a9c;
  border-top-width: 5px;
  border-radius: 0 0 4px 4px;
  display: block;
  list-style-type: none;
  margin: 0;
  min-width: 200px;
  padding: 0;
  position: absolute;
  top: 100%;
}

.navigation li {
  margin: 0;
}

.navigation > li {
  display: flex;
  position: relative;
}

.navigation ul a {
  border: 0;
  color: #000;
  display: block;
  margin: 0;
  padding: 0.5em 1em;
  text-decoration: underline;
}

.navigation ul a:hover,
.navigation ul a:focus {
  background-color: #ddd;
  margin-bottom: 0;
  text-decoration: none;
}

.navigation ul a:focus {
  outline: 5px solid rgb(0 90 156 / 75%);
  position: relative;
}

.navigation button {
  z-index: 0;
}

.navigation button,
.navigation .main-link,
.navigation .nav-link {
  display: flex;
  align-items: center;
  background-color: #eee;
  border: 1px solid transparent;
  border-right-color: #ccc;
  padding: 1em;
}

.dropdown-item {
  background-color: #eee;
  z-index: 1;
}

.navigation .main-link {
  border-right-color: transparent;
}

.navigation button::after{
  content: "";
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  height: 0.5em;
  margin-left: 0.75em;
  width: 0.5em;
  transform: rotate(45deg);
}

.navigation .main-link + button::after {
  margin-left: 0;
}

.navigation button:focus,
.navigation .main-link:focus,
.navigation .nav-link:focus {
  border-color: #005a9c;
  outline: 5px solid rgb(0 90 156 / 75%);
  position: relative;
}

.navigation button:hover,
.navigation button[aria-expanded="true"],
.navigation .nav-link:hover {
  background-color: #005a9c;
  color: #fff;
}

.navigation button:hover::after,
.navigation button[aria-expanded="true"]::after,
.navigation .nav-link:hover::after {
  border-color: #fff;
}

.navigation .nav-link, .navigation button {
  font-size: 1em;
  text-decoration: none;
  color: #000;
  font-weight: normal;
}

#hamburger-div {
  display: none;
}

@media (max-width: 640px){
  #hamburger-div {
    display: flex;
    background-color: #eee;
    width: 100%;
    justify-content: flex-end;
  }

  #hamburger-div a {
    padding: 1em;
    color: #000;
  }

  .navigation {
    flex-direction: column;
  }

  #navigation {
    display:none;
  }

  .navigation > li  {
    
    width: 100%;
  }

  .nav-link, .navigation button {
    width: 100%;
  }
}