.course-table-element {
  display: flex;
  flex-direction: row;
  margin: 1em 0 1em 0;
}

.course-table-element-left {
  width: 15%;
  margin-right: 0.5em;
}

.course-table-element-right {
  width: 100%;
}

.course-table-element-right p {
  margin: 0 0 0.5em 0;
}


/* CSS for mobile */
@media screen and (max-width: 600px) {
  .course-table-element {
    flex-direction: column;
    margin-bottom: 2em;
  }

  .course-table-element-left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.3em;
  }
}