{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $url := replace $url ".html" "" }}
{{ $url := replace $url "-" " " }}
{{ $.Scratch.Add "path" .Site.BaseURL }}
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  {{ range $index, $element := split $url "/" }}
    {{ $.Scratch.Add "path" $element }}
      {{ if ne $element "" }}
      <li><a class="breadcrumbTitle" href='{{ $.Scratch.Get "path" }}'>{{ . }}</a></li>
      {{ $.Scratch.Add "path" "/" }}
      {{ end }}
  {{ end }}
</ul>