{{ $.Scratch.Add "path" "" }}
<ul class="breadcrumb">
  <li><a href="/" style="filter: grayscale(1); text-decoration: none; font-size: 1.5rem;">⌂</a></li>
  {{ range $index, $element := split .RelPermalink "/" }}
    {{ $.Scratch.Add "path" $element }}
    {{ $title := replace $element ".html" "" }}
    {{ $title = replace $title "-" " "}}
    {{ if ne $title "" }}
      <li><a class="breadcrumbTitle" href='{{ $.Scratch.Get "path" | relURL }}'>{{ $title }}</a></li>
      {{ $.Scratch.Add "path" "/" }}
    {{ end }}
  {{ end }}
</ul>
