<header>
  {{ with .Site.Menus.main }}
  <nav class="navbar">
    <button class="hamburger" onclick=hamburgerToggle()>
      <img src="{{"/menu.png" | relURL}}" alt="hamburger menu" class="hamburger-icon" width="20" height="20">
    </button>
    {{ range . }}
    <div class="dropdown">
    {{ if gt (len .Children) 1 }}
      <a class="dropbtn" alt="dropdown menu link" href="javascript:void(0)">
        {{ .Name }}
        <img src="{{"/down-arrow.png" | relURL}}" alt="down arrow" class="icon" width="10" height="10">
      </a>
      <div class="dropdown-content">
        <a href="{{ .URL | relURL }}">{{ .Name }} Overview</a>
        {{ range .Children }}
        <a href="{{ .URL | relURL }}">{{ .Name }}</a>
        {{ end }}
      </div>
      {{ else }}
        <a class="dropbtn" href="{{ .URL | relURL }}">{{ .Name }}</a>
      {{ end }}
    </div>
    {{ end }}
  </nav>
  {{ end }}
</header>
