<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
  function myFunction() {
    var x = document.getElementById("navigation");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
  </script>
<header>
  {{ with .Site.Menus.main }}
  <nav aria-label="HCI Course Website">
    <div id="hamburger-div">
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <ul id="navigation" class="navigation">
      {{ range . }}
      <li>
        {{ if gt (len .Children) 1 }}
        <button type="button" aria-expanded="true" aria-controls="{{ .Identifier }}">{{ .Name }}</button>
        <ul id="{{ .Identifier }}" class="dropdown-item">
          <li>
            <a href="{{ .URL }}">{{ .Name }} Overview</a>
          </li>
          {{ range .Children }}
          <li>
            <a href="{{ .URL }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>

        {{ else }}
        <a href="{{ .URL }}" class="nav-link">{{ .Name }}</a>
        {{ end }}
      </li>
      {{ end }}
    </ul>
  </nav>
  {{ end }}
</header>
