.tutorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tutorCard {
  margin: 1em auto 0.5em auto;
}

.tutorCard img {
  width: 100%;
  height: auto;
  max-width: 36em;
  max-height: 27em;
}

.tutorCard p {
  margin: 1em 1em 1em 1em;
  text-align: left;
}